.cartList{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 500px) {
    .cartList{
        align-items: center;
        margin-left: 0;
    }
}