.cartMergeModal{
    height: 70vh;
    width: 30vw;
    min-width: 400px;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header{
    padding: 1em 1em .5em;
    margin-bottom: 2vh;
    width: fit-content;
    border-bottom: .5px solid rgba(0,0,0,.5);
    align-self: center;
    color: var(--text);
}
.list{
    margin-bottom: 15%;
    overflow: scroll;
}
.productListItem{
    display: flex;
    margin-bottom: 2vh;
}
.thumbnail{
    height: clamp(100px, 15vh, 200px);
    aspect-ratio: 1/1;
    object-fit: cover;
}
.nameGrouping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em;
}
.nameGrouping p{
    padding-left: 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 12%;
    width: 100%;
    border-top: .5px solid rgb(0,0,0,.5);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 500px) {
    .cartMergeModal{
        width: 90vw;
        min-width: unset;
        height: 80vh;
    }
}