.productGrid{
    align-self: flex-start;
    margin-right: 3vw;
    width: 70vw;
    box-sizing: border-box;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, 30vh);
}

.placeholder{
    position: relative;
    z-index: 2;
    margin-right: 3vw;
    height: 50vh;
    width: 70vw;
    box-sizing: border-box;
    background-color: thistle;
}

@media screen and (max-width: 800px) {
    .productGrid{
        margin-right: 0;
        width: 90vw;
        grid-auto-rows: 200px;
    }
}
@media screen and (max-width: 650px) {
    .productGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}
 