.searchBarContainer{
    position: absolute;
    right: 2%;
    top: 120%;
}

.searchResult{
    width: 350px;
    height: 100px;
    overflow: hidden;
    margin-top: 5px;
    padding-bottom: 1vh;
}

.image{
    margin-top: 5px;
    margin-left: 5px;
    height: 95px;
    width: 100px;
}