.divider{
    height: 2vh;
    width: 100vw;
    background-color: var(--primary);
    box-shadow: var(--lightShadow);
}
.heading{
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 1vh 3vw;
    width: 100vw;
    box-sizing: border-box;
}
.container{
    box-sizing: border-box;
    position: relative;
    background: var(--background);
}
.container::after{
    content: 'FLY FISHING';
    font-size: 18vw;
    color: var(--text);
    opacity: .2;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
}
.prevButton{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 10px;
}
.nextButton{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 10px;
}
.carousel{
    height: 100%;
    width: 92%;
    margin: auto; 
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.product{
    min-height: 100%;
    width: 50%;
    background-color: var(--background);
    box-shadow: var(--lightShadow);
    border-radius: 7px;
    overflow: hidden;
    margin: 0 2%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: .2s all ease
}

.product:hover{
    box-shadow: var(--shadow);
}
.product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productLeft{
    height: 100%;
    width: 55%;
    position: relative;
}
.collapsedTitle{
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    box-sizing: border-box;
    color: var(--background);
    text-align: left;
}
.productRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 45%;
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
}
.title{
    line-height: 1em;
}
.titleGroup{
    display: flex;
    flex-direction: column;
}
.priceGroup{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.failure{
    align-self: center;
    font-size: 5vw;
    position: relative;
    transition: .5s all ease-in-out;
}
.failure:hover{
    transform: scale(1.1);
}
.failure::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
    filter: blur(8px);
}
.failure::before{
    content: '';
    position: absolute;
    bottom: -25px;
    left: -5%;
    height: 4px;
    width: 110%;
    background-color: black;
    filter: blur(18px);
}
.word{
    transition: .5s all ease-in-out;
}
.word:hover{
    color: rgb(189, 58, 58)
}