.orderSearch{
    position: relative;
    border-bottom: 1px solid var(--primary);
}

.header{
    margin-right: 2vw;
    font-size: 2.1em;
}
.searchContainer{
    display: flex;
    align-items: center;
    margin-bottom: 4vh;
}
.svg{ 
    width: 60vw;
    opacity: .3;
    position: absolute;
    top: 0;
    right: -10vw;
    z-index: -1;
}


.failure{
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 1.6em;
    width: fit-content;
    position: relative;
    transition: .5s all ease-in-out;
}
.failure::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
    filter: blur(8px);
}
.failure::before{
    content: '';
    position: absolute;
    bottom: -25px;
    left: -5%;
    height: 4px;
    width: 110%;
    background-color: black;
    filter: blur(18px);
}
.word{
    transition: .2s all ease-in;
}
.word:hover{
    color: rgb(189, 58, 58)
}

@media screen and (max-width: 600px) {
    .searchContainer{
        flex-direction: column;
        margin-bottom: 0vh;
    }
    .searchContainer input{
        width: 55vw;
    }
    .header{
        margin-bottom: 2vh;
    }
    .svg{
        opacity: .1;
        right: 10vw;
        top: -5vh;
    }
}