.accountDetailsForm{
    min-width: 40vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 1.5vh;
}
.image{
    height: 70vh;
    position: absolute;
    opacity: .6;
    right: 5vw;
    top: 5vh;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .accountDetailsForm{
        margin-top: 3vh;
        margin-left: 2vw;
        width: 60vw;
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .accountDetailsForm{
        min-width: 90vw;
    }
}
