.billingAddressForm{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 1.5vh;
}
.image{
    height: 70vh;
    position: absolute;
    opacity: .7;
    right: 5vw;
    top: 5vh;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .billingAddressForm{
        margin-top: 3vh;
        margin-left: 2vw;
        max-width: 500px;
        align-self: center;
    }
}